body {
    text-align: center;
  }
  
  button {
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: #ABB5BE;
   
  }
  
  #button-container {
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10 px;
      width: 250px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: solid;
    border-width: thin;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
      background-color: #41474D;
  }
  
  [value='AC'] {
    width: 120px;
  }
  
  [value='='] {
    width: 120px;
  }
  
  #display-container {
    
    border: solid;
    width: 235px;
    height: 50px;
    border: solid;
    border-width: thin;
    text-align: right;
    margin: auto;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 0px;
    margin-left: 4px;
    font-size: 18px;
      border-radius: 5px 5px 0px 0px;
    background-color: #EEEFF0;
  }
  
  #display-container2 {

    width: 250px;
    height: 50px;
    border: solid;
    border-width: thin;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    
      border-radius: 10px 10px 0px 0px;
    background-color: #41474D;
  }

#display {
  height: 25px;
  
}
#display2 {
  height: 25px;
  
}